.git
.idea
.agent
.tmp_launchers
__pycache__
*.pyc
*.pyo
*.log

api/.env
api/temp
api/static/results
outputs
img

experiments/pretrained_models
colorization_model_final.pth

api/CodeFormer/assets
api/CodeFormer/inputs
api/CodeFormer/web-demos
api/CodeFormer/docs
